* {
    box-sizing: border-box;
}

#sudoku {
    width: 600px;
    margin: auto;
}

header {
    border: 1px dashed black;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

#game {
    padding: 10px;
}

#board-container {
    display: flex;
}

#panel {
    width: 350px;
    padding: 10px;
}

#board {
    width: 400px;
    padding: 25px;

    display: grid;
    grid-template-columns: repeat(3, 120px);
}

.square:nth-child(3n+1) {
    border-left: 2px solid black;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3){
    border-top: 2px solid black;
}

.square {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: 0.1px dotted black;
    height: 40px;
    text-align: center;
}

.cell-digit {
    height: 5px;
    display: inline-block;
    vertical-align: middle;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.validation {
    text-transform: capitalize;
}

.current-index {
    background-color: lightgreen;
}